input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background-color: #970505;
  border-color: antiquewhite;
}

.custom-checkbox:checked {
  background-color: #0a7227;
  border-color: antiquewhite;
}
