.listItemCreationLabel {
  color: #970505;
  font-size: 20px;
  font-weight: bold;
}

.listItemDate {
  color: #1c1e35;
  font-weight: bold;
  margin-left: 10px;
}

.listItemDoneLabel {
  color: #0a7227;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .listItem {
    font-size: 16px;
  }
  .listItemCreationLabel,
  .listItemDoneLabel,
  .listItemDate {
    font-size: 16px;
  }
}
